#main-wrapper {
    height: 960px;
}

.group {
    outline: 2px dotted green;
    padding: 2px;
}
.tile {
    outline: 2px dotted red;
    padding: 2px;
}
.row {
    outline: 2px dotted blue;
    padding: 2px;
}
.cell {
    outline: 2px dotted #ccc;
    padding: 2px;
}

.cell {
    margin: 10px 0;
}

.tile-wrapper {
    padding: 10px;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 75px;
}

#sidebar p {
    border: 1px solid #ccc;
    padding: 12px 0;
    text-align: center;
}

#news img {
    float: right;
}

#news p {
    clear: both;
}
